main{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer {
    width: 100%;
    height: 200px;
    background-color: red;
}

.cardList {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buttons{
    width: 150px;
    z-index: 1;
    display: flex;
    margin-top: 25px;
    align-items: center;
    justify-content: space-around;
}

.buttons svg {
    cursor: pointer;
    transition: ease .3s;
}

.buttons .previous:hover {
    transform: translateX(-10px);
}

.buttons .next:hover {
    transform: translateX(10px);
}

.swipe{
    z-index: 100;
    position: absolute;
}

.list {
    position: absolute;
}

.credits{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: large;
}